@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2563eb;
  --color-secondary: #6366f1;
  --color-accent: 	#708090;
}


.btn-primary {
   background: linear-gradient(to right, #276faa, #191186);
   
  }
  .my-btn:hover {
    background-color: #97f3dc;
    border-color: #8dc5e7;
  }

  .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}