@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2563EB;
  --color-secondary: #10B981;
  --color-accent: #10B981;
}

.btn-primary {
   background: linear-gradient(to right, #2563EB, #10B981);
    border-color: rgb(108, 207, 224);
  }
  .my-btn:hover {
    background-color: #97f3dc;
    border-color: #8dc5e7;
  }

  .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}